:root {
  /* Colors: */
  --gray_25: #919BA7;
  --gray_50: #5F6D7E;
  --gray_300: #2E3545;
  --gray_600: #2C3444;
  --grey_700: #272D37;
  --gray_950: #151B28;
  --primary_200: #B1CCFB;
  --primary_600: #437EF7;
  --primary_900: #2B63D9;
  --neutral_100: #F8F9FB;
  --neutral_200: #F9F9F9;
  --neutral_600: #EAEBF0;
  --neutral_800: #A5ACBA;
  --base_white: #FFFFFF;
}
